{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}
    首页
{% endblock %}

{% block main %}
    <ul>
        {% for blog in blogs %}
            <li>
                <div class="blog-group">
                    <p class="blog-title"><a href="{{ url_for('main.blog_detail',
                    blog_id=blog.id) }}">{{ blog.title }}</a></p>
                    <p class="blog-abstract">{{ blog.abstract }}</p>
                </div>
                <div class="blog-info">
                    <span class="blog-author">{{ blog.user.username }}</span>
                    <span class="blog-time">{{ moment(blog.pub_time).format('YYYY-M-D') }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>


{% endblock %}